@model asmC5.Models.CartDetails

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>CartDetails</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FoodName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FoodName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FoodMount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FoodMount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FoodImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FoodImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FoodType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FoodType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VAT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VAT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDelete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDelete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Carts)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Carts.CardId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Foods)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Foods.FoodImage)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CartdetailId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
